# .env - DO NOT COMMIT THIS FILE!

# Redis Configuration
REDIS_HOST={IP_ADDRESS}
REDIS_PASSWORD={PASSWORD}

#API
API_PORT=5000

# Email Configuration
FROM_EMAIL={EMAIL_ADDRESS}

# API Settings
NUMBER_OF_LEVELS=10
TIMEOUT=60
LOCK_TTL_SECONDS=600


DB_PATH=/app/shared/database/packages.db
# Optional: Add more secrets
# DATABASE_URL=postgresql://user:pass@host:5432/db
# API_KEY=your-secret-api-key